<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <title> {% block title %} Тендеры ТСК {% endblock %}</title>

  </head>
  <style>
    td {
    font-family: arial, helvetica, sans-serif;
    font-size: 8pt;
    }
  </style>
  <body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Тендеры ТСК (с сайта Государственных закупок РФ)</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--<div class="collapse navbar-collapse" id="navbarNav">-->
    <!--<ul class="navbar-nav">-->
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Features</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Pricing</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
</nav>
  </header>

    {% block content %}


  <p> Последний запуск скрипта: {{ stat|date:"d E Y H:i" }}. Количество новых тендеров: {{ result }} </p>
  <p> Тендеров без комментария: {{ empty }}.</p>
  <button type="submit">Записать комментарии</button>
  <p id = "test"> </p>
  <table id="table_id" class="table">
      <thead>
        <tr>
    {% for elem in headers %}
          <th scope="col">{{ elem }}</th>
            {% endfor %}
             </tr>
      <tbody>

  {% for row in dataframe_rows %}
        <tr>

          <td>
            <div>{{ row.tender_id }}</div>
          </td>
           <td>
            <div>{{ row.organisation }}</div>
          </td>
           <td>
            <div>{{ row.description }}</div>
          </td>
           <td>
            <div>{{ row.price }}</div>
          </td>
           <td>
            <div>{{ row.date_found|date:"d E Y H:i" }}</div>
          </td>
           <td>
               <div> {{ row.auction_type }}</div>
          </td>
           <td>
           {% if 'завершена' in row.zakup_status %}
                <div> <span style="font-weight: bold;color:red;">
                    {% elif 'Подача' in row.zakup_status %}
                    <div> <span style="font-weight: bold;color:green;">
                    {% else %}
                    <div> <span>
                     {% endif %}
                        {{ row.zakup_status }}</span></div>
          </td>
           <td>
            <div>{{ row.date_created|date:"d E Y" }}</div>
          </td>
            <td>
            <div>{{ row.phrase }}</div>
          </td>

           <td>
            <a target="_blank" rel="noopener noreferrer" href = http://zakupki.gov.ru/223/purchase/public/purchase/info/common-info.html?regNumber={{ row.tender_id }} >Ссылка на тендер</a>
          </td>
            <td>
            <div>{{ row.region }}</div>
          </td>
          <td>
              <div>
            {% if row.comment == '' or row.comment == 'None' %}
            <input id="row-{{row.tender_id}}" name="row-{{row.tender_id}}" value="" type="text" > </input>
              {% else %}
              <input id="row-{{row.tender_id}}" name="row-{{row.tender_id}}" value="{{row.comment}}" type="text" > </input>
              {% endif %}
                  </div>
              <div>
                  <a href="#" onclick="putText('row-{{row.tender_id}}', 'Не профиль')">ПН </a>
                  <a href="#" onclick="putText('row-{{row.tender_id}}', 'Процедура завершена')">ПЗ </a>
                  <a href="#" onclick="putText('row-{{row.tender_id}}', 'Зацепка №')">З </a>
              </div>
          </td>


        </tr>
  {% endfor %}
      </tbody>
</table>
      </thead>


    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script>


    $(document).ready(function() {
    var table = $('#table_id').DataTable({"order": [[ 4, "desc" ]],
    "language": {
    "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
                }
    });

    $('button').click( function() {

        var data = table.$('input, select').serialize();
        var request = new XMLHttpRequest();
          function reqReadyStateChange() {
            if (request.readyState == 4 && request.status == 200)
                document.getElementById("test").innerHTML=request.responseText;
             }
        request.open("POST", "http://3.122.234.38/postdata/");
        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        request.onreadystatechange = reqReadyStateChange;
        request.send(data);

        return false;
    } );
} );
  </script>

  <script type="text/javascript">
function putText(id, str)
{
  document.getElementById(id).value = str;
}
</script>

  </body>
</html>
